In [2]:
import pandas as pd

In [5]:
filePath = "student.csv"
file = pd.read_csv(filePath)
file.head()

,Username,Tweet,Likes,Timestamp
0,The Telegraph\n@Telegraph\n·\n3 Oct 2016,Donald Trump mocks Hillary Clinton over her pn...,NaN,2016-10-02T20:07:34.000Z
1,NaN,NaN,NaN,2021-07-28T18:57:57.000Z
2,NaN,NaN,NaN,2021-11-16T10:04:55.000Z
3,NaN,NaN,NaN,2022-09-08T17:31:21.000Z
4,NaN,NaN,NaN,2019-03-08T20:03:35.000Z